{% extends 'base.html.twig' %}

{% block title %}
	Se connecter |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="login container mt-4">
		<form action="{{ path('app.login') }}" method="post" class="card p-3 w-50 mx-auto">
			<h1 class="text-center">Se connecter</h1>

			{% if error %}
				<div class="alert alert-danger" role="alert">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}

			<div class="mb-3">
				<label for="username" class="form-label">Email:</label>
				<input class="form-control" type="email" id="username" name="_username" placeholder="john@exemple.com" value="{{ lastUsername }}">
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">Password:</label>
				<input type="password" id="password" name="_password" placeholder="S3CR3T" class="form-control">
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button type="submit" class="btn btn-primary">Se connecter</button>
		</form>
	</section>
{% endblock %}
